.orders-container {
  max-width: 900px;
  margin: auto;
  color: white;
}

.orders-title {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.no-orders {
  text-align: center;
  opacity: 0.7;
  margin-top: 20px;
}

.orders-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 20px;
}

.order-card {
  background: rgba(255,255,255,0.18);
  padding: 20px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.status {
  margin-top: 10px;
  font-weight: 700;
  color: #ffe58f;
}
