.footer {
  background: #14274D;
  padding: 50px 40px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.column h3 {
  margin-bottom: 12px;
  font-size: 20px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
}

.column p {
  margin: 6px 0;
  opacity: 0.8;
  cursor: pointer;
}
/* ===== SOCIAL MEDIA ===== */
.footer-socials {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.footer-socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  background: #2563eb;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(37,99,235,0.6);
}
