.services-main {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: #111827;
}

.services-title {
  font-size: 38px;
  font-weight: 800;
  color: #1f2937;
}

.services-subtitle {
  font-size: 17px;
  opacity: 0.7;
  max-width: 650px;
  margin: 10px auto 40px;
}

/* GRID */
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  gap: 30px;
  padding: 10px;
}

/* SERVICE CARD */
.service-box {
  background: white;
  padding: 25px;
  border-radius: 18px;
  transition: 0.25s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  cursor: pointer;
}

.service-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* ICON */
.service-icon {
  font-size: 46px;
  margin-bottom: 12px;
}

/* TITLE */
.service-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #1f2937;
}

/* TEXT */
.service-box p {
  font-size: 15px;
  opacity: 0.8;
  min-height: 50px;
  color: #374151;
}

/* PRICE */
.service-price {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #14274D;
}

/* BUTTON */
.service-btn {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #14274D;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.service-btn:hover {
  background: #4338ca;
}
